
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container{
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #54a8ff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.5);
    text-align: center;


}